*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body{
    /* background-color: #C85C3E; */
    overflow: hidden;
    background: rgb(36,0,20);
    
}


#bg{
    height:100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(90deg, rgba(36,0,20,1) 0%, rgba(151,0,90,1) 35%, rgba(255,0,97,1) 100%);
    z-index:-1 ;
    position: absolute;
    top: 0;
}

#details{
    height:100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


#loginBox{

    /* height: 25rem;
    width:  30em;  */
    border: 1px solid #faf2de;
    border-radius: 10px;
    background-color:  rgba(179, 177, 177, 0.299);
    z-index: 2;
    padding: 1rem;
}

#logo{
    height: 2.5rem;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat:no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*enter details*/
.btn {
    color: #ffffff !important; 
    padding: 0.5em 1em;
    border-radius: 0.25em; 
}


.btn-check:hover + .btn{
    border:2px solid #faf2de58;
}

.btn-check:checked + .btn {
    border:2px solid #faf2de;
}

.submit button{
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    width: 15em;
}

.submit button:hover{
    background-color: #faf2de2f;
}


#logCredentials h3{
    position: relative;
    left: 0.25em;
    margin-bottom: 0.5em;
    color: #faf2de;
}

#choose-role{
    color: #faf2de;
}

#logCredentials label{
    color: black;
}


.role{
    border: none;
    background-color: #d5669499;
    width: 10rem;
    height: 2rem;
    border: 2px solid #faf2de;
    border-radius: 1rem;
    color:#faf2de
}

#loginEmail{
    margin-bottom: 0.5em;
    height: 2rem;
    border-radius: 1em;
    padding-left: 0.75em;
} 

#loginPassword{
    margin-bottom: 0.5em;
    height: 2rem;
    border-radius: 1em;
    padding-left: 0.75em;    
}


#dont{
    display: inline;
    color:#faf2de
}

#reg{
    font-weight: bolder;
    display: inline;
    color:#faf2de;
}

.submit{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.submit input{
    height: 3rem;
    width:20rem;
    display: block;
    margin-bottom: 1rem;
}




/*background elements*/
#ribbon{
    background-image: url("../images/ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30em;
    height: 30em;
    z-index: -1;
    position: absolute;
    bottom: 5vh;
    left: 25vh;
}

#ele2{
    height: 100vh;
    width:100vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/12.png");
}

#ribbon1{
    height: 20vh;
    width: 20vh;
    background-image: url("../images/ribbon1.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20vh;
    right: 70vh;
    z-index: -1;
}

#ribbon3{
    height: 15vh;
    width: 15vh;
    background-image: url("../images/ribbon1.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 30vh;
    right: 67vh;
    z-index: -1;
}

#ribbon4{
    height: 35vh;
    width: 35vh;
    background-image: url("../images/ribbon4.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 60vh;
    right: 65vh;
    z-index: -1;
    transform: rotate(180deg);
}


#ribbon5{
    height: 20vh;
    width: 20vh;
    background-image: url("../images/ribbon5.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 60vh;
    right: 25vh;
    z-index: -1;
    transform: rotate(-30deg);
}

#ribbon5-2{
    height: 15vh;
    width: 15vh;
    background-image: url("../images/ribbon5.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 45vh;
    right: 25vh;
    z-index: -1;
    transform: rotate(-30deg);
}

#ribbon5-3{
    height: 12vh;
    width: 12vh;
    background-image: url("../images/ribbon5.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 45vh;
    right: 45vh;
    z-index: -1;
    transform: rotate(-30deg);
}

#ribbon5-4{
    height: 13vh;
    width: 13vh;
    background-image: url("../images/ribbon5.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 58vh;
    right: 8vh;
    z-index: -1;
    transform: rotate(-30deg);
}


#ribbon-3{
    height: 70vh;
    width: 70vh;
    background-image: url("../images/ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:50vh;
    left: -35vh;
    transform: rotate(180deg);
}

#ribbon4-2{
    height: 55vh;
    width: 55vh;
    background-image: url("../images/ribbon4.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 80vh;
    right: -5vh;
    z-index: -1;
}
