<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    {% include 'stuff.html' %}
    <link rel="stylesheet" href="../static/css/checkout.css">

    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>


</head>
<body>
    {% include 'navbar_admin.html'%}

    <div class="container-fluid" id="cont">
        <div class="row align-items-center" id="checkoutRow">
            <div class="col-lg-2" id="staffDetails">
                <div id="staffIMG"></div>
                <div id="staffNAME">{{name}}</div>
                <div id="staffEMAIL">{{email}}</div>
                <div id="staffROLE">CASHIER</div>
                <div id="root"></div>
            </div>

            <div class="col-lg-7" id="customerLog">
                <div id="logBox">
                    <h5>CUSTOMER DETAILS</h5>
                    <div class="line"></div>
                    <form id="customerDetails">
                        <div class="form-floating my-3">
                            <input type="text" class="form-control"  id="signupName" name="c_name" placeholder="name">
                            <label for="floatingInput">Name*</label>
                        </div>


                        <div class="form-floating my-3">
                            <input type="text" class="form-control"  id="signupContact" name="c_contact" placeholder="name">
                            <label for="floatingInput">Contact*</label>
                        </div>

                        <div class="form-floating my-3">
                            <input type="text" class="form-control"  id="signupAddress" name="c_address" placeholder="name">
                            <label for="floatingInput">Address</label>
                        </div>

                        <div class="submit">
                            <button type="submit" class="btn btn-outline-light" id="goButton">Go</button>
                        </div>
                        <br>
                        <div id="showAlert">

                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-3" id="rightBar">
                <h6>Enter customer details to</h6>
                <h6>proceed to Checkout</h6>

            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="customerDetailsReg">
                    <div class="form-floating my-3">
                        <input type="text" class="form-control"  id="regName" placeholder="name">
                        <label for="floatingInput">Name</label>
                    </div>


                    <div class="form-floating my-3">
                        <input type="text" class="form-control"  id="regContact" placeholder="name">
                        <label for="floatingInput">Contact</label>
                    </div>

                    <div class="form-floating my-3">
                        <input type="email" class="form-control"  id="regEmail" placeholder="name">
                        <label for="floatingInput">Email</label>
                    </div>
                    <br>
                    <div id="showAlertReg">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="regButton">Save changes</button>
            </div>
          </div>
        </div>
      </div>


    {% include 'bg_elements.html'%}
    <script type="text/babel" src="../static/js/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>